@import "../vendor/neat/neat-helpers"; // or "neat-helpers" when in Rails

// Change the grid settings
$column: 90px;
$gutter: 32px;
$grid-columns: 10;
$max-width: 90%;

// Define your breakpoints
$midsize: new-breakpoint(max-width 1080px 10);
$tablet: new-breakpoint(max-width 850px 10);
$mobile: new-breakpoint(max-width 590px 8);

// Show the grid, for non-production
$visual-grid: false;