// ===
// Variables
// ===

$basesize: 16px;
$baseheight: $basesize * 1.6;

// ===
// Font Mixins
// ===

@mixin serif($weight: 400, $style: normal) {
  // Abril Text from Typekit
  // 400: Regular
  // 600: Semibold

  font-family: "abril-text","Georgia",sans-serif;
  font-style: $style;
  font-weight: $weight;
}

@mixin sans($weight: 400, $style: normal) {
  // Aktiv Grotesk from Typekit
  // 400: Regular
  // 700: Bold

  font-family: "aktiv- grotesk-std","Helvetica",sans-serif;
  font-style: $style;
  font-weight: $weight;
}

@mixin smallpara() {
  font-size: $basesize * 0.8;
  line-height: $baseheight * 0.8; 
}

// ===
// Basic body text styles
// ===

body {
  color: $black;
}

// Nav has dark background, reverse text

nav {
  color: $white;
}

// ===
// Anchors
// ===

a {
  text-decoration: none;
  color: $red;
  @include sans(800);
  padding-bottom: 2px;

  border-bottom: 1px solid $red;

  &:hover {
    color: lighten($red, 30%);
    border-bottom: 1px solid lighten($red, 30%);
  }
}

// Nav is dark, reverse out the anchor tag

nav a {
  color: $white;
}

// ===
// Paragraph styles
// ===

p {
  @include serif(600);
  font-size: $basesize;
  line-height: $baseheight;
  margin-bottom: $halfmargin;

  @include media($mobile) {
    @include smallpara();
  }
}

// Add a space after the last paragraph

p:last-of-type {
  margin-bottom: $halfmargin;
}

// section#footer styles

section#footer p {
  @include sans();
  font-size: $basesize * 0.9;
}

// homepage section#intro > bigger para text

section#intro p {
  margin-top: $halfmargin;
  font-size: $basesize * 1.4;
  line-height: $basesize * 2.4;
  margin-bottom: 0;

  // shrink on smaller screen
  @include media($tablet) {
    font-size: $basesize * 1.2;
    line-height: $basesize * 2.2;
  }

  @include media($mobile) {
    @include smallpara();
  }
}

// homepage section#contact > style list, smaller text, no bullets
section#contact ul {
  list-style: none;
  padding-left: 0;

  li {
    @include sans(400);
    font-size: $basesize * 0.9;
    line-height: $basesize * 2;
    font-style: normal;
    color: $red;
  }

  .trailer {
    color: $black;
  }

  a {
    border-bottom: none;
    color: inherit;
    font-weight: inherit;
    &:hover {
      border-bottom: 1px solid $red;
    }
  }
}

// homepage article (projects) > .details sidebar text

.details {
  ul {
    list-style: none;
    padding-left: 0;
  }
  ul li {
    @include sans(800);
    color: lighten($black, 20%);
    line-height: $basesize * 1.4;
    font-size: $basesize * 0.9;

    @include media($mobile) {
      font-size: $basesize * 0.7;
      line-height: $baseheight * 0.7;
    }
  }
}

// ===
// Headlines
// ===

// h1: Page topper ('David Leonard')

h1 {
  font-size: $basesize * 5.4;

  @include media($tablet) {
    font-size: $basesize * 4.5;
  }
  @include media($mobile) {
    font-size: $basesize * 2.6;
  }
}

// Nameplate styling

section#tops h1 {
  letter-spacing: -3px;
  color: $red;
}

// h2: Story/subject headlines

h2 {
  @include sans(700);
  font-size: $basesize * 4;
  letter-spacing: -2px;

  margin-top: $margin;
  margin-bottom: $margin;
}

section.project h2 {
  @include media($midsize) {
    font-size: $basesize * 2.8;
  }

  @include media($mobile) {
    font-size: $basesize * 1.9;
  }
}

h2 a {
  color: inherit;
  border-bottom: none;

  &:hover {
    color: $red;
    border-bottom: 1px solid $red;
  }
}

// h3: Grey Section Kickers

h3 {
  @include sans(400);
  color: $grey;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $basesize;

  margin-bottom: $margin;

  @include media($mobile) {
    font-size: $basesize * 0.8;
    margin-bottom: $halfmargin;
  }
}

// h5: Small Gray Overlines

h5 {
  @extend h3;
  font-size: $basesize * 0.8;
  margin-bottom: $halfmargin;
}