//=========== Import base styles
@import "base/intro";
@import "vendor/normalize/normalize";
@import "vendor/bourbon/bourbon";
@import "base/grid-settings";
@import "vendor/neat/neat";

//=========== Basic variables

$blue: rgba(44,62,80,1);
$red: rgba(169,6,65,1);
$white: white;
$black: rgba(70,70,70,1);
$grey: rgba(70,70,70,0.5);

$margin: 32px;
$halfmargin: 16px;

//=========== Resets

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}

//=========== Type styles

body {
  color: $black;
}

$basesize: 16px;
$serif: Georgia, serif;

@mixin serif($weight: 400, $style: normal) {
  // Abril Text from Typekit
  // 400: Regular
  // 600: Semibold

  font-family: "abril-text","Georgia",sans-serif;
  font-style: $style;
  font-weight: $weight;
}

@mixin sans($weight: 400, $style: normal) {
  // Aktiv Grotesk from Typekit
  // 400: Regular
  // 700: Bold

  font-family: "aktiv- grotesk-std","Helvetica",sans-serif;
  font-style: $style;
  font-weight: $weight;
}

// Name/logo/topper
h1 {
  font-size: $basesize * 5.4;
}

// Headlines
h2 {
  @include sans(700);
  font-size: $basesize * 3.9;

  margin-top: $margin;
  margin-bottom: $margin;
}

// Light kicker
h3 {
  @include sans(400);
  color: $grey;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $basesize;

  margin-bottom: $margin;
}

h5 {
  @extend h3;
  font-size: $basesize * 0.8;
  margin-bottom: $halfmargin;
}

p {
  @include serif(600);
  font-size: $basesize;
  line-height: $basesize * 1.6;
  margin-bottom: $halfmargin;
}

p:last-of-type {
  margin-bottom: $halfmargin;
}

a {
  text-decoration: none;
  color: $red;
  @include sans(800);
  padding-bottom: 2px;

  border-bottom: 1px solid $red;

  &:hover {
    color: lighten($red, 30%);
    border-bottom: 1px solid lighten($red, 30%);
  }
}

//=========== Layout

nav {
  @include span-columns(12);
  background-color: $red;
  color: $white;
  min-height: $halfmargin;
  padding: $halfmargin;                       

  a {
    color: white;
  }
}

section {
  @include span-columns(5 of 12);
  @include shift(1);
  margin-top: $margin;
}

hr {
  color: $black;
  margin-top: $margin * 2;
  margin-bottom: $halfmargin;
}

// Styles for specific section

section#intro {

  margin-top: $margin * 2;

  h1 {
    color: $red;
    letter-spacing: -3px;
  }

  p {
    margin-top: $halfmargin;
    font-size: $basesize * 1.4;
    line-height: $basesize * 2.4;
    margin-bottom: 0;
  }
}

// Contact section

section#contact {
  @include span-columns(3.4 of 10);

  ul {
    list-style: none;
    padding-left: 0;

    li {
      @include sans(400);
      font-size: $basesize * 0.9;
      line-height: $basesize * 2;

      em {
        font-style: normal;
        color: $red;
      }
    }

    a {
      border-bottom: none;
      color: inherit;
      font-weight: inherit;
      &:hover {
        border-bottom: 1px solid $red;
      }
    }
  }
}

// Projects content

section#projects {
  @include span-columns(10 of 12);
}

img {
  margin-bottom: $margin;
}

// Container for images
.images {
  height: 500px;
  overflow: hidden;
}

.explainer {
  @include span-columns(4 of 10);
}

.details {
  @include span-columns(3 of 10);
  @include shift(0.25);

  ul {
    list-style: none;
    padding-left: 0;
  }
  ul li {
    @include sans(800);
    color: lighten($black, 20%);
    line-height: $basesize * 1.4;
    font-size: $basesize * 0.9;
  }
}

article#permits {
  img.big {
    @include span-columns(6 of 10);
    height: 100%;
  }
  img.small {
    @include span-columns(3 of 10);
  }
  img.smaller {
    @include span-columns(3 of 10);
  }
}

// footer styles

section#footer {
  @include span-columns(10 of 10);
  margin-top: $margin * 3;

  p {
      @include sans();
      font-size: $basesize * 0.9;
    }
}