//=========== Import base styles
@import "base/intro";
@import "vendor/normalize/normalize";
@import "vendor/bourbon/bourbon";
@import "base/grid-settings";
@import "vendor/neat/neat";
@import "base/mixins";

//=========== Basic variables

$blue: rgba(44,62,80,1);
$red: rgba(169,6,65,1);
$white: white;
$black: rgba(70,70,70,1);
$grey: rgba(70,70,70,0.5);

$margin: 32px;
$halfmargin: 16px;

//=========== Resets

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -moz-margin-start: 0;
  -moz-margin-end: 0;
}

// ===
// Typography styles
// ===

@import "base/typography";

// ===
// Layout
// ===

@import "base/layout";