/* Welcome. */

//=========== Import base styles
@import "vendor/normalize/normalize";
@import "vendor/bourbon/bourbon";
@import "vendor/neat/neat";
@import "base/grid-settings";

//=========== Begin custom code

// Basic variables

$blue: rgba(44,62,80,1);
$red: rgba(169,6,65,1);
$white: white;
$black: rgba(70,70,70,1);
$grey: rgba(70,70,70,0.5);

// Reset

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

// Type styles

$basesize: 16px;
$serif: Georgia, serif;

@mixin serif($weight: 400, $style: normal) {
  // Abril Text from Typekit
  // 400: Regular
  // 600: Semibold

  font-family: "abril-text","Georgia",sans-serif;
  font-style: $style;
  font-weight: $weight;
}

@mixin sans($weight: 400, $style: normal) {
  // Aktiv Grotesk from Typekit
  // 400: Regular
  // 700: Bold

  font-family: "aktiv- grotesk-std","Helvetica",sans-serif;
  font-style: $style;
  font-weight: $weight;
}

p {
  @include serif();
  font-size: $basesize;
}

// Layout

nav {
  @include span-columns(12);
  background-color: $red;
  color: $white;

  padding: 5px;                       

  a {
    color: white;
  }
}