<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}David Leonard - Frontend Developer and Designer</title>

    <!-- Bare-bones metadata -->
    <meta name="description" content="David Leonard is a frontend developer and designer working at Code for America.">
    <meta name="author" content="David Leonard">

    <!-- Import stylesheets and fonts (Typekit: davidleonard.me) -->
    <link rel="stylesheet" href="/css/application.css">
    <script src="//use.typekit.net/qqe4wau.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Include Google Analytics tracking script -->
    {% include google-analytics.html %}
  </head>

  <body {% if page.body_id %}id="page-{{ page.body_id }}"{% endif %}>
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
